<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">Extra charges will be added depending on choices made during checkout</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotal$ | async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Order subtotal</strong>
      <strong>{{(basketTotal$ | async)?.subtotal | currency : 'DKK '}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Extra Charge</strong>
      <strong>{{(basketTotal$ | async)?.extraCharge | currency : 'DKK '}}</strong>
    </li>
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong>{{(basketTotal$ | async)?.total | currency : 'DKK '}}</strong>
    </li>
  </ul>
</div>
