<div class="mt-4" [formGroup]="checkoutForm">
    <h4 class="mb-3">Choose your provision method</h4>
    <div class="row ml-5" formGroupName="serviceProvisionForm">
        <div class="col-6 form-group" *ngFor="let method of serviceProvisions">
            <input type="radio" 
                id={{method.id}} 
                (click)="setExtraCharge(method)"
                value={{method.id}} 
                formControlName="serviceProvision"
                class="custom-control-input">
            <label for="{{method.id}}" class="custom-control-label">
                <strong>{{method.serviceDate}} - {{method.extraCharge | currency}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button [disabled]="checkoutForm.get('serviceProvisionForm')?.invalid" class="btn btn-primary" cdkStepperNext>
        Go to Review <i class="fa fa-angle-right"></i> 
    </button>
</div>
