.form-inline {
  margin-left: 15px; /* Adjust to place search bar properly */
}

.list-group-item {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  border-radius: 10px; /* Keep it rounded by default */

  &:focus, &:active {
    outline: none;
    border-radius: 10px; /* Ensure it stays rounded on focus and active */
  }

  &:not(.active):hover {
    color: #fff;
    background-color: rgba(233, 86, 32, 0.705);
    border-radius: 10px;
  }
}
